block variables
    - var relativePathToRoot = '../';

doctype html
html
    head
        block title
            title MJR Presentation
        //- STYLESHEETS
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round|Pacifico")
        // build:css ../styles/app.css
        link(rel="stylesheet" href="../#{relativePathToRoot}bower_components/reveal.js/css/reveal.css")
        link(rel="stylesheet" href="../#{relativePathToRoot}bower_components/highlightjs/styles/github-gist.css")
        link(rel="stylesheet" href="#{relativePathToRoot}styles/app.css")
        // endbuild
    body
        div.reveal
            div.slides
                block content

        // build:js ../scripts/app.js
        // bower:js
        // endbower
        script(src="../#{relativePathToRoot}bower_components/reveal.js/js/reveal.js")
        script(src="#{relativePathToRoot}scripts/app.js")
        // endbuild
